<% include header %>
    <h3>Create new customer</h3>
    <form method="POST" action="/user/add">
        <div id="login-box">
            <div class="left">           
                <input type="text" class="add" name="name" placeholder="Full Name" />
                <input type="text" class="add" name="gender" placeholder="Gender" />
                <input type="text" class="add" name="age" placeholder="Age" />
                <input type="text" class="add" name="email" placeholder="E-mail" />
                <input type="submit" class="add" value="ADD" />
            </div>   
        </div>
    </form>       
    <br><br>
    <h3><%= title %></h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach( function(user) { %>
                <tr>                
                    <td><strong><%= user.id %></strong></td>
                    <td><%= user.name %></td>
                    <td><%= user.gender %></td>
                    <td><%= user.age %></td>
                    <td><%= user.email %></td>
                </tr>
            <% }) %>      
        </tbody>
    </table>
    <br><br>
    <h3>Delete customer by UID</h3>
    <form method="POST" action="/user/delete">
        <div class="deleteform">
            <div class="deleteinput">
                <input type="text" class="delete" name="uid" placeholder="User ID">
                <input type="submit" class="delete" value="DELETE">
            </div>
        </div>
    </form> 

     <!--<form method="POST" action="/user/add">
        <label>Full Name</label><br>
        <input type="text" name="name">
        <br><br>
        <label>Gender</label><br>
        <input type="text" name="gender">
        <br><br>
        <label>Age</label><br>
        <input type="text" name="age">
        <br><br>
        <label>Email</label><br>
        <input type="text" name="email">
        <br><br>
        <input type="submit" value="Add">
    </form>-->

    <!--<h3><%= title %></h3>
    <ul>
        <% users.forEach( function(user) { %>
        <li>(<%= user.id %>) <%= user.name %> <%= user.gender %> <%= user.age %> <%= user.email %> </li>
        <% }) %>
    </ul>-->
    
<% include footer %>

