<% include header %>
    <h3>Create new customer</h3>
    <form name="form" method="POST" action="/user" onsubmit="return checkform()">
        <div id="login-box">
            <div class="left">
                <input type="text" class="add" name="name" placeholder="Full Name" />
                <input type="text" class="add" name="gender" placeholder="Gender" />
                <input type="text" class="add" name="age" placeholder="Age" />
                <input type="text" class="add" name="email" placeholder="E-mail" />
                <input type="submit" class="add" value="ADD" />
            </div>
        </div>
    </form>
    <br>
    <br>
    <h3>
        <%= title %>
    </h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach( function(user) { %>
                <tr>
                    <td>
                        <strong>
                            <%= user.id %>
                        </strong>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.gender %>
                    </td>
                    <td>
                        <%= user.age %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <br>
    <br>
    <h3>Delete customer by UID</h3>
    <form method="POST" action="/user/delete">
        <div class="deleteform">
            <div class="deleteinput">
                <input type="text" class="delete" name="uid" placeholder="User ID">
                <input type="submit" class="delete" value="DELETE">
            </div>
        </div>
    </form>

    <script>
        function checkform() {
            var gender = ["Male", "Female", "male", "female", "ชาย", "หญิง"];
            var cansubmit = true;

            if (gender.indexOf(document.forms["form"]["gender"].value) == -1) {
                alert("Plese enter \"Male\", \"Female\", \"ชาย\", \"หญิง\"");
                cansubmit = false;
            }

            if (isNaN(document.forms["form"]["age"].value)) {
                alert("Plese enter number");
                cansubmit = false;
            }

            if (!validateEmail(document.forms["form"]["email"].value)) {
                alert("Plese enter the valid E-mail");
                cansubmit = false;
            }

            if (!cansubmit)
                return false;
        }

        function validateEmail(email) {
            var re =
                /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
    </script>

    <% include footer %>